<!--フォームの追加・削除機能付与時に追加-->
<div class="nested-fields">
  <%= f.hidden_field :_destroy %>
  <div class="flow__inputBx">
    <p class="flow__number"></p>
    <%= f.text_area :flow, class:"flow__input"%>
  </div>
</div>