// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* h3見出しのフォント指定 */
h3 {
font-family: cursive ;
}

body {
color: #270000 ;
 justify-content: space-between;
}

.row {
  text-align: center;
  align-items: center;
}

.result-list {
  position: relative;
  text-align: center;
  background:#F9F9EA; /*背景色の指定*/
  border:#BDB76B 8px dotted;
  padding: 20px;
  margin: 20px 0;
}

.result-list:before {
  content:"";
  position:absolute;
  top: 100%;
  left: 45%; /*三角形の位置指定*/
  border: 30px solid transparent; /*三角形の幅指定*/
  border-top:#F9F9EA 25px solid; /*三角形の高さと色指定*/
  width: 0;
  height: 0;
}
.result-list p {
  margin:0;
  padding:0;
}

.cooking-title {
  color: white;
  text-align: center;
  align-items: center;
  background-color: #BDB76B;
  font-size: 19px;
}

.recipe-header {
  text-align: center;
}

.introduction__img-field {
  text-align: center;
  height: 150px;
}

.introduction__texts {
  text-align: center;
  align-items: center;
  margin-left: 20%;
}


.introduction__forms {
  height: auto;
}

.material__ul {
  height: auto;
  margin: 0 5% auto;
}

.tag__container {
  height: auto;
  margin: 0 5% auto;
}

.step__item {
  height: auto;
  margin: 0 5% auto;
}

.advise__content {
  height: auto;
  margin: 0 5% auto;
}

.recipe__bookmark {
  margin-right: 0;
  margin-left: auto;
}

.recipeuser__inner {
  width: 60% ;
    display: flex;
    align-items: center;
    margin: 0 20% auto;

    & > .btn {
      display: block;
      margin: 0 0 0 auto;
    }
  }

.recipeuser__img {
    height: 100px;
    width: 100px;
    overflow: hidden;

    & a > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

.recipeuser__name {
  text-align: center;
  align-items: center;
}