// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* h3見出しのフォント指定 */
h3 {
font-family: cursive ;
}

body {
color: #270000 ;
 justify-content: space-between;
}

.row {
  text-align: center;
  align-items: center;
}

.cooking-title {
  color: white;
  text-align: center;
  align-items: center;
  background-color: #BDB76B;
}

.recipe-header {
  text-align: center;
}

input[type="text"] { width: 90%; }


.textarea {
  position: relative;
  font-size: 1rem;
  line-height: 1.8;
}

.form-control {
  position: auto;
//   top: 0;
  left: 0;
//   display: block;
//   overflow: hidden;
//   box-sizing: border-box;
  margin: 0 5%;
  padding: 5px 15px;
  width: 90%;
//   height: 30%;
//   background-color: transparent;
  border: 1px solid #b6c3c6;
//   border-radius: 4px;
//   color: inherit;
//   font: inherit;
//   letter-spacing: inherit;
//   resize: none;
}

.form-control:focus {
  box-shadow: 0 0 0 4px rgba(35, 167, 195, 0.3);
  outline: 0;
}

.form-control-tag {
 left: 0;
 margin: 0;
 padding: 5px 15px;
 width: 90;
}

.form-control-tag:focus {
  box-shadow: 0 0 0 4px rgba(35, 167, 195, 0.3);
  outline: 0;
}


.introduction__img-field {
  text-align: center;
  height: 150px;
}

.introduction__texts {
  text-align: center;
  align-items: center;
  margin-left: 20%;
}


.introduction__forms {
  height: auto;
}

.material__ul {
  height: auto;
  margin: 0 10% auto;
}

.material__inputBx {
  height: auto;
}

.tag__container {
  height: auto;
  width: 80%;
  margin: 0 auto;
}

.step__item {
  height: auto;
  margin: 0 5% auto;
}

.advise__content {
  height: auto;
  margin: 0 5% auto;
}

.recipe__bookmark {
  margin-right: 0;
  margin-left: auto;
}

.recipeuser__inner {
  width: 60% ;
    display: flex;
    align-items: center;
    margin: 0 20% auto;

    & > .btn {
      display: block;
      margin: 0 0 0 auto;
    }
  }

.recipeuser__img {
    height: 100px;
    width: 100px;
    overflow: hidden;

    & a > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

.recipeuser__name {
  text-align: center;
  align-items: center;
}

.form {
  height: auto;
  width: 90%;
  padding: 0 0 10% 0;
}