.top_image{
  height: 200px;
  background-image: url("images/top_image.jpg");
}

.boundary {
  position: relative;
  width: 90%;
  margin-left: 5%;
  border-top: #BDB76B 5px dashed;
  border-bottom: #845e6e 5px dashed;
  margin-bottom: 40px;
}

.container-toppage {
  width: center auto;
}

.introduction {
  // @extend .content-width;
  // @extend .mb-lg;
    max-width: 80%;
    margin-left: 10%;
}

.introductio__inner {
    // @extend .flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #BC8F8F;
    position: absolute;
    z-index: 0;
  }

.introduction__img {
    // @extend .mb-sm;
    // height: 500px;
    // box-shadow: inset 0 0 30px black;

    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: -1;
    }
  }

.introduction__texts {
    // @extend .pb-sm;
    padding: 3% 15% 0 0;
  }

.introduction__title {
    position: relative;
  }

.introduction__sub {
    // @extend .mb-sm;
  }

.list {
  margin-left: 20%;
  width: 60%;
}