<div class = "container">
  <% if @user == current_user %>
     <div class = "title text-center">マイページ</div>
  <% else %>
    <div class = "title text-center"><%= @user.nickname %>さんのユーザー情報</div>
  <% end %>

  <div class = "card">
    <div class = "text-center">
       <p></p>
       <p>ニックネーム: <%= @user.nickname %></p>
       <p>投稿数: <%= @user.recipes.count %></p>
       <p>紹介文: <%= @user.introduction %></p>
       <p></p>
    </div>
    <div>
      <div class = "py-2"> <!-- 現在は、編集不可 -->
        <%#= link_to "プロフィールを編集する", edit_admin_user_path , class:"btn btn-outline-secondary btn-block"%>
      </div>
    </div>

  </div>
</div>
