<div class = "container">
  <% if @user == current_user %>
     <div class = "title text-center">マイページ</div>
  <% else %>
    <div class = "title text-center"><%= @user.nickname %>さんのマイページ</div>
  <% end %>

  <div class = "card">
    <div class = "text-center">
       <p></p>
       <p>ニックネーム: <%= @user.nickname %></p>
       <p>投稿数: <%= @user.recipes.count %></p>
       <p>紹介文: <%= @user.introduction %></p>
       <p></p>
    </div>
  </div>
</div>