<% if @bookmark_recipes.present? %>
<p class="text-center" style="color:blue; font-size:15px;"><i class="fas fa-bookmark"></i>ブックマークした記事を表示しています。</p>
<% else %>
<p class="text-center" style="color:blue; font-size:15px;"><i class="far fa-bookmark"></i>ブックマークした記事はありません。</p>
<% end %>
<%= render 'bookmarks', bookmark_recipes: @bookmark_recipes,user: @user %>