<% if @bookmark_recipes.present? %>
<p class="text-center" style="color:#90692c; font-size:15px;"><i class="fas fa-bookmark"></i>ブックマークしたレシピを表示しています。</p>
<% else %>
<p class="text-center" style="color:#90692c; font-size:15px;"><i class="far fa-bookmark"></i>ブックマークしたレシピはありません。</p>
<% end %>
<%= render 'bookmarks', bookmark_recipes: @bookmark_recipes,user: @user %>